.task-list {
  background-color: rgb(193, 193, 221);
  padding: 2rem;
}

.task, .current-task {
  font-weight: bold;
  background-color: rgb(172, 172, 219);
  padding: .5rem 2rem;
}

.task:hover {
  background-color: rgb(124, 201, 201);
  cursor: pointer;
}

.task:not(:last-child) {
  margin-bottom: 1rem;
}

.current-task {
  background-color: rgb(106, 106, 211);
}

.current-task-body {
  padding-left: 1rem;
}