/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM STYLES */
/* TODO: slowly roll over to tailwind and remove custom styles as much as possible */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-list {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.task {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #ffffff;
  padding: 1rem 2rem;
}

.task:hover {
  background-color: #e0d6eb;
  cursor: pointer;
}

.task:not(:last-child):not(.current-task) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.current-task {
  background-color: #f2edf8;
  padding: 2rem;
}

.task .checkbox {
  width: 40px;
  height: 40px;
}

.task-tail {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
}

.task-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}